:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #1B1D38;
  margin:0;
  padding: 0;
  /* border: 1px solid red; */
}

.navbar  {
  display: flex;
  justify-content: space-around;
  background-color: #0c121d;
  height: 100px;
  align-items: center;
  gap: 1rem;
}

.navlist {
  display: flex;
  list-style: none;
}

.navlist li {
  margin-right: 40px;
}

.navlist a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  transition: color 0.3s ease;
}

.navlist a:hover {
  color:#E51681;
}

.hero-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: 80vh;
  padding: 6rem;
  background-color: #13152E;
  overflow: hidden;
}

.hero-content {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left (if needed) */
  gap: 1rem; /* Add space between elements */
  /* s */
  /* border: 2px solid #000; */
  min-width: clamp(350px, 60%, 900px);
}


.hero-text {
  font-size: clamp(1.5rem, 4vw, 4rem);
  font-weight: 400;
}

.hero-text span {
 color: #E51681;
 font-weight: 700;
}

.hero-button {
  background-color:#E51681; 
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  width: 300px;
}

.hero-button-outlined {
  background-color: transparent;
  border: 2px solid #E51681; /* Outline color */
  border-radius: 10px;
  color: #E51681; /* Text color */
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer; /* Add a pointer cursor */
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 300px;
}


.hero-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-circle {
  position: absolute;
  width: 700px; /* Adjust size as needed */
  height: 700px; /* Adjust size as needed */
  background-color: #1C1D39; /* Subtle transparent color */
  border-radius: 50%; /* Make it a circle */
  z-index: 1;
  left: 50px; /* Place it behind the image */
}

.hero-image {
  position: relative;
  height: 90vh;
  width: 60vh;
  z-index: 2;
  object-fit: cover;
}

.skills-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Center horizontally */
  align-items: center;    /* Center vertically */
  gap: 2rem;  
  padding: 3rems;
}


.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;  
  background-color: #252C48;
  padding: 6rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Center horizontally */
  align-items: center;    /* Center vertically */
  background-color: #24283f;
  gap: 16px;  
}

.project-item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem;
  gap: 3rem;
}

.project-item-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
}

.project-item-button-container {
  display: flex;
  flex-wrap: wrap;
  gap:20px
}

.project-item-image-container {
  background-color: grey;
  width: 40vw;
  height: 40vh;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
